<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Seguimiento Serpost (antiguo)</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <style>
      html {
        overflow-y: auto;
      }
      table {
        margin: 0 auto;
      }
      .table th {
        vertical-align: middle;
      }
    </style>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-136711474-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-136711474-1')
    </script>
  </head>
  <body>
    <section class="section has-text-centered">
      <h1 class="title">Serpost</h1>
      <h2 class="subtitle">{{ form ? 'Hacer' : 'Detalle' }} seguimiento</h2>

      <div v-if="form" class="columns is-gapless">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <article v-if="error" class="message is-danger">
            <div class="message-body">{{ error.message }}</div>
          </article>
          <form
            class="field has-addons has-addons-centered"
            v-if="form"
            @submit.prevent="lookup"
          >
            <div class="control">
              <input
                required
                maxlength="13"
                class="input has-text-centered"
                placeholder="Número seguimiento"
                pattern="^[A-Z]{2}\d{9}[A-Z]{2}$"
                v-model="track"
              />
            </div>
            <div class="control">
              <button
                class="button is-link"
                :disabled="loading"
                :class="{'is-loading': loading}"
              >
                BUSCAR
              </button>
            </div>
          </form>
        </div>
      </div>

      <div v-else class="container">
        <div class="table-container" v-if="model">
          <table class="table is-narrow is-bordered is-hoverable">
            <tbody>
              <tr>
                <th rowspan="4">ENVÍO</th>
                <th>NÚMERO</th>
                <td>{{ model.ENVIO }}</td>
              </tr>
              <tr>
                <th>ORIGEN</th>
                <td>{{ model.OFICINAORIGEN }}</td>
              </tr>
              <tr>
                <th>DESTINO</th>
                <td>{{ model.OFICINADESTINO }}</td>
              </tr>
              <tr>
                <th>ESTADO</th>
                <td>{{ model.ESTADO || 'EN PROCESO' }}</td>
              </tr>
              <tr>
                <th rowspan="4">ENTREGA</th>
                <th>FECHA</th>
                <td>{{ model.FECHAENTREGA }}</td>
              </tr>
              <tr>
                <th>DESTINATARIO</th>
                <td>{{ model.DESTINATARIO || '-' }}</td>
              </tr>
              <tr>
                <th>DOCUMENTO</th>
                <td>{{ model.DOCUMENTO || '-' }}</td>
              </tr>
              <tr>
                <th>FECHA ADUANA</th>
                <td>-</td>
              </tr>
              <tr v-for="(item, i) in model.HISTORIAL">
                <th v-if="!i" :rowspan="model.HISTORIAL.length">HISTORIAL</th>
                <td>{{ item.FECHAHORA }}</td>
                <td>{{ item.DESCRIPCION }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="button is-info" @click="cancel">VOLVER</button>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
      new Vue({
        el: 'section',
        data: {
          track: '',
          form: true,
          error: null,
          model: null,
          loading: false,
        },
        methods: {
          lookup: function() {
            var self = this
            self.error = null
            self.loading = true
            var xhr = new XMLHttpRequest()
            xhr.onload = function() {
              var res = xhr.response
              if (res.data) {
                res.data.HISTORIAL = res.data.ITEMS.ItemDetalle.reverse()
                self.model = res.data
                self.form = false
                self.track = ''
              } else {
                self.model = null
                self.error = res.error
              }
              self.loading = false
            }
            xhr.onerror = xhr.onabort = function() {
              self.error = new Error('Error desconocido, intente nuevamente.')
              self.loading = false
            }
            xhr.open('GET', '/api?track=' + self.track)
            xhr.responseType = 'json'
            xhr.send()
          },
          cancel: function() {
            this.form = true
            this.model = null
          },
        },
      })
    </script>
  </body>
</html>
